<div class="header-warp">
  <div class="header">
    <div class="logo"><img src="<%= require('../images/3Dclass.png') %>" alt=""></div>
    <div class="header-nav">
       <a href="">aa</a>
       <a href="">bb</a>
       <a href="">ccc</a>
    </div>
  </div>
</div>